# String

In [28]:
print("spam" * 3)

spamspamspam

In [2]:
4*'6'

'6666'

In [6]:
msg ="i like python {0} , c++ {1}, html{2}".format(3,'',5)
print(msg)

i like python 3 , c++ , html5

In [18]:
a= "i am a student of khulna university."

In [19]:
print("i am safa".replace("safa","hafsa"))

i am hafsa

In [20]:
print('/'.join(['20','10','2020']))

20/10/2020

In [22]:
print(a.startswith("i am"))

True

In [23]:
print(a.endswith("i am"))

False

In [24]:
print(a.upper())

I AM A STUDENT OF KHULNA UNIVERSITY.

In [25]:
print(a.lower())

i am a student of khulna university.

In [29]:
print(a.split(' '))

['i', 'am', 'a', 'student', 'of', 'khulna', 'university.']

# Type custing

In [30]:
int("123")

123

In [33]:
int(23.456)

23

In [34]:
float("34.567")

34.567

In [35]:
float(34)

34.0

In [36]:
str(123)

'123'

In [38]:
>>> print("Float = " + str(10.5) + " Integer = " + str(50))

Float = 10.5 Integer = 50

# Variable and Statement

In [48]:
user_input = int (input("Enter your birth year: "))
age = 2020-user_input
print("You are ", age ," years old!")

print("You are "+str(age) +" years old!")

Enter your birth year: 1997
You are  23  years old!
You are 23 years old!

In [2]:
a = 500
b = 200 if (a >= 100 and a < 200) else 300
print(b)

300

In [5]:
status  = 1
msg = "Logout" if status == 1 else "Login"
print(msg)

Logout

In [6]:
for i in range(10):
    print(i)
else:
    print("Done")

0
1
2
3
4
5
6
7
8
9
Done

In [4]:
language = "Python"
language += "3"
print(language)

Python3


# While Loop

In [1]:
i = 1
while i <= 5:
   print(i)
   i = i + 1

print("I am priting eventually cause the WHILE loop is done with his job.")

1
2
3
4
5
I am priting eventually cause the WHILE loop is done with his job.

In [2]:
i = 0
while 1 == 1:
   print(i)
   i = i + 1
   if i >= 5:
      print("Breaking")
      break

print("Finished")

0
1
2
3
4
Breaking
Finished

In [3]:
i = 0
while True:
   i = i +1
   if i == 2:
      print("Skipping 2")
      continue
   if i == 5:
      print("Breaking")
      break
   print(i)

print("Finished")

1
Skipping 2
3
4
Breaking
Finished

# List

In [7]:
words = ["Hello", "world", "!"]
print(words[0])
print(words[1])
print(words[2])
print(words[0],words[1],words[2])

Hello
world
!
Hello world !

In [9]:
num=1
my_num=[num,2,3,4,5]

data=["Numbers",2027,my_num,5.56]

print(data[0])
print(data[1])
print(data[2])
print(data[2][0])
print(data[2][3])
print(data[3])

Numbers
2027
[1, 2, 3, 4, 5]
1
4
5.56

In [10]:
str = "Hello world!"
print(str[6])

w

In [11]:
first_list = [1, 2, 3]
print(first_list + [4, 5, 6])
print(first_list * 3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [12]:
fruits = ["apple", "orange", "pineappe", "grape"]

print("orange" in fruits)
print("rice" in fruits)
print("apple" in fruits)

True
False
True

In [13]:
fruits = ["apple", "orange", "pineappe", "grape"]

print("orange" not in fruits)
print(not "rice" in fruits)

False
True

In [1]:
first_list = [1, 2, 3]
print(first_list + [4, 5, 6])
print(first_list * 3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [2]:
nums = [1, 2, 3]
nums.append(4)
print(nums)

[1, 2, 3, 4]

**insert**

In [3]:
words = ["A", "C"]
index = 1
words.insert(index, "B")

print(words)

['A', 'B', 'C']

In [4]:
letters = ['p', 'q', 'r', 's', 'p', 'u']
print(letters.index('r'))
print(letters.index('p'))
print(letters.index('z'))

2
0

ValueError: 'z' is not in list

**count**

In [5]:
letters = ['p', 'q', 'r', 's', 'p', 'u']
letters.count('p')

2

**max**

In [6]:
nums = [1, 2, 4, 20, 50, 3, 4]
max(nums)

50

**min**

In [7]:
nums = [1, 2, 4, 20, 50, 3, 4]
min(nums)

1

**len**

In [8]:
nums = [1, 2, 4, 20, 50, 3, 4]
len(nums)

7

# Range

In [9]:
my_numbers = list(range(10))
print(my_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
my_numbers = list(range(5,10))
print(my_numbers)

[5, 6, 7, 8, 9]

In [11]:
my_numbers = list(range(5, 30, 3))
print(my_numbers)

[5, 8, 11, 14, 17, 20, 23, 26, 29]

# For Loop

In [12]:
fruits = ["Apple", "Orange", "Pineapple", "Grape"]
# Lets make juice with these fruits

start_index = 0
max_index = len(fruits) - 1

while start_index <= max_index: # Work until this condition is True
    fruit = fruits[start_index]
    print(fruit + " Juice!")

    start_index = start_index + 1

Apple Juice!
Orange Juice!
Pineapple Juice!
Grape Juice!

In [13]:
fruits = ["Apple", "Orange", "Pineapple", "Grape"]
# Lets make juice with these fruits

for fruit in fruits:
    print(fruit + " Juice!")

Apple Juice!
Orange Juice!
Pineapple Juice!
Grape Juice!

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
# start with 5 and ends with 10
for i in range(5, 10):
      print(i)

5
6
7
8
9

In [16]:
# start with 5 and ends with 15 and step size 3
for i in range(5, 15, 3):
      print(i)

5
8
11
14

In [17]:
# start with 10
# end with 0
# step size -2
for i in range(10, 0, -2):
     print(i)

10
8
6
4
2

**Float type range**

In [19]:
# we need all of those three argumet, such as  start, stop, step
def frange(start, stop, step):
    i = start
    while i < stop:
        yield i
        i += step
for i in frange(0.5, 1.0 ,0.1):
         print(i)

0.5
0.6
0.7
0.7999999999999999
0.8999999999999999
0.9999999999999999

In [20]:
for letter in 'Python': # Here "Python" acts like a list of characters
    print(letter)

P
y
t
h
o
n

In [21]:
for i in range(20):
    if i == 5:
        continue
    if i > 9:
        break
    print(i)

print("Printed first 10 numbers except 5!")

0
1
2
3
4
6
7
8
9
Printed first 10 numbers except 5!